@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
}

.box-info {
  background-color: var(--lite-grey);
  border-radius: var(--panel-radius);
  display: flex;
  flex-direction: column;
  height: var(--panel-height);
  width: var(--panel-width);
}

.box-info .nav {
  height: var(--nav-height);
  display: flex;
  justify-content: space-around;
}

.box-info .nav button {
  flex: auto;
  font-family: Courier, monospace;
  color: var(--orange);
  background-color: var(--grey);
}

.box-info .nav button:hover {
  text-decoration: underline;
}

.box-info .nav .activeButton {
  font-weight:bold;
}

.box-info .overflow {
  flex: 1;
  overflow: auto;
  border-radius: 0 0 var(--panel-radius) var(--panel-radius);
}

.left {
  border-top-left-radius: var(--panel-radius);
}

.right {
  border-top-right-radius: var(--panel-radius);
}